{
  "openapi": "3.1.0",
  "info": {
    "title": "Users",
    "version": "unknown"
  },
  "servers": [
    {
      "url": "https://api-v2.pandavideo.com/users"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "x-bearer-format": ""
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/": {
      "get": {
        "summary": "Get all users from organization",
        "description": "",
        "operationId": "get-all-users-from-organization",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "[\n  {\n    \"id\": \"string\",\n    \"organization_id\": \"string\",\n    \"role_id\": \"string\",\n    \"email\": \"string\",\n    \"phone\": \"string\",\n    \"status\": \"string\",\n    \"updated_at\": \"string\",\n    \"created_at\": \"string\" \n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "example": "string"
                      },
                      "organization_id": {
                        "type": "string",
                        "example": "string"
                      },
                      "role_id": {
                        "type": "string",
                        "example": "string"
                      },
                      "email": {
                        "type": "string",
                        "example": "string"
                      },
                      "phone": {
                        "type": "string",
                        "example": "string"
                      },
                      "status": {
                        "type": "string",
                        "example": "string"
                      },
                      "updated_at": {
                        "type": "string",
                        "example": "string"
                      },
                      "created_at": {
                        "type": "string",
                        "example": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"errCode\": \"BadRequest\",\n    \"errMsg\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errCode": {
                      "type": "string",
                      "example": "BadRequest"
                    },
                    "errMsg": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"message\": \"Unauthorized\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"message\": \"Internal server error\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "summary": "Create user for organization",
        "description": "",
        "operationId": "create-user-from-organization",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "The email address of the user."
                  },
                  "role_id": {
                    "type": "string",
                    "description": "The role ID assigned to the user."
                  },
                  "phone": {
                    "type": "string",
                    "description": "The phone number of the user."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"id\": \"string\",\n    \"organization_id\": \"string\",\n    \"role_id\": \"string\",\n    \"email\": \"string\",\n    \"phone\": \"string\",\n    \"status\": \"string\",\n    \"updated_at\": \"string\",\n    \"created_at\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "string"
                    },
                    "organization_id": {
                      "type": "string",
                      "example": "string"
                    },
                    "role_id": {
                      "type": "string",
                      "example": "string"
                    },
                    "email": {
                      "type": "string",
                      "example": "string"
                    },
                    "phone": {
                      "type": "string",
                      "example": "string"
                    },
                    "status": {
                      "type": "string",
                      "example": "string"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "string"
                    },
                    "created_at": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"errCode\": \"BadRequest\",\n    \"errMsg\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errCode": {
                      "type": "string",
                      "example": "BadRequest"
                    },
                    "errMsg": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"message\": \"Unauthorized\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"message\": \"Internal server error\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/{user_id}": {
      "put": {
        "summary": "Update user from organization",
        "description": "",
        "operationId": "update-user-from-organization",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "role_id": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "image_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n   response: {\n        \"id\": \"string\",\n        \"organization_id\": \"string\",\n        \"role_id\": \"string\",\n        \"role_name\": \"string\",\n        \"email\": \"string\",\n        \"phone\": \"string\",\n        \"is_root\": \"boolean\",\n        \"image_id\": \"string\",\n        \"image_path\": \"string\",\n        \"status\": \"string\",\n        \"created_at\": \"date\",\n        \"updated_at\": \"date\"\n    },\n    actions: [\n        \"change\": \"string\"\n    ]\n}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"errCode\": \"BadRequest\",\n    \"errMsg\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errCode": {
                      "type": "string",
                      "example": "BadRequest"
                    },
                    "errMsg": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"message\": \"Unauthorized\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"message\": \"Internal server error\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "summary": "Remove user from organization",
        "description": "",
        "operationId": "remove-user-from-organization",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": boolean,\n}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"errCode\": \"BadRequest\",\n    \"errMsg\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errCode": {
                      "type": "string",
                      "example": "BadRequest"
                    },
                    "errMsg": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"message\": \"Unauthorized\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"message\": \"Internal server error\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "get": {
        "summary": "Get user from organization",
        "description": "",
        "operationId": "get-user-from-organization",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"id\": \"string\",\n    \"organization_id\": \"string\",\n    \"role_id\": \"string\",\n    \"email\": \"string\",\n    \"phone\": \"string\",\n    \"status\": \"string\",\n    \"updated_at\": \"string\",\n    \"created_at\": \"string\" \n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "string"
                    },
                    "organization_id": {
                      "type": "string",
                      "example": "string"
                    },
                    "role_id": {
                      "type": "string",
                      "example": "string"
                    },
                    "email": {
                      "type": "string",
                      "example": "string"
                    },
                    "phone": {
                      "type": "string",
                      "example": "string"
                    },
                    "status": {
                      "type": "string",
                      "example": "string"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "string"
                    },
                    "created_at": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"errCode\": \"BadRequest\",\n    \"errMsg\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errCode": {
                      "type": "string",
                      "example": "BadRequest"
                    },
                    "errMsg": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"message\": \"Unauthorized\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"message\": \"Internal server error\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": []
  },
  "x-readme-fauxas": true
}